Why and When Employee Quit

In [16]:
# dependencies
import numpy as np
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier

In [17]:
#read in csv file into a pandas dataframe
attrition_df = pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition.csv')

attrition_df.head() #print first 10 rows of dataframe

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [18]:
#print columns
print(attrition_df.columns)

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [19]:
#how many columns and rows are there in the dataset
print("Number of rows:",attrition_df.shape[0])
print("Number of columns:",attrition_df.shape[1])

Number of rows: 1470
Number of columns: 35

In [20]:
#drop na values
df = attrition_df.dropna()
#check if there are any null values
df.isnull().values.any()

False

In [21]:
#drop DailyRate, EmployeeCount, EmployeeNumber, HourlyRate, MonthlyRate, Over18, StandardHours, JobInvolvement
attrition_df = attrition_df.drop(['DailyRate', 'EmployeeCount', 'EmployeeNumber', 'HourlyRate', 'MonthlyRate', 'Over18', 'StandardHours', 'JobInvolvement'], axis=1)

attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobLevel,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,Female,2,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,Male,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,Male,1,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,Female,1,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,Male,1,...,3,4,1,6,3,3,2,2,2,2

Visualization

In [22]:
#remove all rows with 'No" in the 'Attrition' column
df = df[df['Attrition'] != 'No']
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
14,28,Yes,Travel_Rarely,103,Research & Development,24,3,Life Sciences,1,19,...,2,80,0,6,4,3,4,2,0,3
21,36,Yes,Travel_Rarely,1218,Sales,9,4,Life Sciences,1,27,...,2,80,0,10,4,3,5,3,0,3
24,34,Yes,Travel_Rarely,699,Research & Development,6,1,Medical,1,31,...,3,80,0,8,2,3,4,2,1,3

In [23]:
#summary for each variable
attrition_df.groupby('Attrition').mean()
attrition_df.groupby('Attrition').median()
#print
print(attrition_df.groupby('Attrition').mean())
print(attrition_df.groupby('Attrition').median())

                 Age  DistanceFromHome  Education  EnvironmentSatisfaction  \
Attrition
No         37.561233          8.915653   2.927007                 2.771290
Yes        33.607595         10.632911   2.839662                 2.464135

           JobLevel  JobSatisfaction  MonthlyIncome  NumCompaniesWorked  \
Attrition
No         2.145985         2.778589    6832.739659            2.645580
Yes        1.637131         2.468354    4787.092827            2.940928

           PercentSalaryHike  PerformanceRating  RelationshipSatisfaction  \
Attrition
No                 15.231144           3.153285                  2.733982
Yes                15.097046           3.156118                  2.599156

           StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
Attrition
No                 0.845093          11.862936               2.832928
Yes                0.527426           8.244726               2.624473

           WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
Attrition
No                2.781022        7.369019            4.484185
Yes               2.658228        5.130802            2.902954

           YearsSinceLastPromotion  YearsWithCurrManager
Attrition
No                        2.234388              4.367397
Yes                       1.945148              2.852321
            Age  DistanceFromHome  Education  EnvironmentSatisfaction  \
Attrition
No         36.0               7.0        3.0                      3.0
Yes        32.0               9.0        3.0                      3.0

           JobLevel  JobSatisfaction  MonthlyIncome  NumCompaniesWorked  \
Attrition
No              2.0              3.0         5204.0                 2.0
Yes             1.0              3.0         3202.0                 1.0

           PercentSalaryHike  PerformanceRating  RelationshipSatisfaction  \
Attrition
No                      14.0                3.0                       3.0
Yes                     14.0                3.0                       3.0

           StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
Attrition
No                      1.0               10.0                    3.0
Yes                     0.0                7.0                    2.0

           WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
Attrition
No                     3.0             6.0                 3.0
Yes                    3.0             3.0                 2.0

           YearsSinceLastPromotion  YearsWithCurrManager
Attrition
No                             1.0                   3.0
Yes                            1.0                   2.0

C:\Users\jessi\AppData\Local\Temp\ipykernel_21020\1497396728.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  attrition_df.groupby('Attrition').mean()
C:\Users\jessi\AppData\Local\Temp\ipykernel_21020\1497396728.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  attrition_df.groupby('Attrition').median()
C:\Users\jessi\AppData\Local\Temp\ipykernel_21020\1497396728.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(attrition_df.groupby('Attrition').mean())
C:\Users\jessi\AppData\Local\Temp\ipykernel_21020\1497396728.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(attrition_df.groupby('Attrition').median())

In [24]:

# visualization for non numerical features - Need to fix figure size and tight layout
fig,axss = plt.subplots(2,4, figsize=[15,10])
sns.countplot(x='Attrition', hue='DistanceFromHome', data=attrition_df, ax=axss[0][0])
sns.countplot(x='Attrition', hue='Department', data=attrition_df, ax=axss[0][1])
sns.countplot(x='Attrition', hue='YearsWithCurrManager', data=attrition_df, ax=axss[0][2])
sns.countplot(x='Attrition', hue='Education', data=attrition_df, ax=axss[0][3])
sns.countplot(x='Attrition', hue='EducationField', data=attrition_df, ax=axss[1][0])
sns.countplot(x='Attrition', hue='MonthlyIncome', data=attrition_df, ax=axss[1][1])
# sns.countplot(x='Attrition', hue='PerformanceRating', data=attrition_df, ax=axss[1][1])


# plt.tight_layout()
plt.savefig('cate_dist.png');